@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3rem;

    --hue-color: 185;
    --first-color: hsl(var(--hue-color) , 69% , 61%);
    --first-color-second: hsl(var(--hue-color) , 69% , 61%);
    --first-color-alt: hsl(var(--hue-color) , 57% , 53%);
    --first-color-lighter: hsl(var(--hue-color) , 92% , 85%);

    --title-color: hsl(var(--hue-color) , 8% , 15%);
    --text-color: hsl(var(--hue-color) , 8% , 45%);
    --text-color-light: hsl(var(--hue-color) , 8% , 65%);

    --input-color: hsl(var(--hue-color) , 70% , 96%);
    --body-color: hsl(var(--hue-color) , 60% , 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color) , 12% , 90%);
    --scroll-thumb-color: hsl(var(--hue-color) , 12% , 80%);
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-model: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

body.dark-theme {
    --first-color-second: hsl(var(--hue-color) , 30% , 8%);

    --title-color: hsl(var(--hue-color) , 8% , 95%);
    --text-color: hsl(var(--hue-color) , 8% , 75%);

    --input-color: hsl(var(--hue-color) , 29% , 16%);
    --body-color: hsl(var(--hue-color) , 28% , 12%);
    --container-color: hsl(var(--hue-color) , 29% , 16%);
    --scroll-bar-color: hsl(var(--hue-color) , 12% , 48%);
    --scroll-thumb-color: hsl(var(--hue-color) , 12% , 36%);
}

.nav-btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
}

.section-title {
    font-size: var(--h1-font-size);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section-title, .section-subtitle {
    text-align: center;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo, .nav-toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover {
    color: var(--first-color);
}

.nav-toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        border-radius: 1.5rem 1.5rem 0 0;
        box-shadow: 0 -1px 4px rgba(0 , 0 , 0 , 0.15);
        transition: 300ms;
    }
}

.nav-list {
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-link:hover {
    color: var(--first-color);
}

.nav-icon {
    font-size: 1.2rem;
}

.nav-close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav-close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}

.active-link {
    color: var(--first-color);
}

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
}

/* Student Container */
.student-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 0 7rem;
}

.main h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--first-color-alt);
}

.student-card {
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.student-img {
    margin-bottom: 1rem;
}
.student-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.student-name {
    font-size: 1.25rem;
    font-weight: var(--font-medium);
    text-align: center;
}

/* footer */

.footer {
    padding-top: 2rem;
}

.footer-container {
    row-gap: 3.5rem;
}

.footer-bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer-title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer-subtitle {
    font-size: var(--small-font-size);
}

.footer-links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer-link:hover {
    color: var(--first-color-lighter);
}

.footer-social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer-social:hover {
    color: var(--first-color-lighter);
}

.footer-copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer-title, .footer-subtitle, .footer-link, .footer-social {
    color: #fff;
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 400ms;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup-icon {
    font-size: 1.5rem;
    color: #fff;
}

.show-scroll {
    bottom: 5rem;
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .student-container {
        margin: 0 0.5rem;
    }

    .nav-menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav-list {
        column-gap: 0;
    }

    .home-content {
        grid-template-columns: .25fr 3fr;
    }

    .home-blob {
        width: 180px;
    }

    .skills-title {
        font-size: var(--normal-font-size);
    }

    .services-container {
        grid-template-columns: max-content;
        justify-content: center;
    }

    .services-content {
        padding-right: 3.5rem;
    }

    .services-model {
        padding: 0 0.5rem;
    }

    .member-data, .member-header {
        flex-direction: column;
        align-items: center;
    }

    .member-img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }

    .member-data, .member-description {
        text-align: center;
    }

}

@media screen and (min-width: 568px) {
    .home-content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home-data {
        grid-column: initial;
    }

    .home-img {
        order: 1;
        justify-self: center;
    }

    .about-container, .contact-container, .footer-container {
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
        margin-top: 8rem;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section-subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header, .main, .footer-container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav-icon, .nav-close, .nav-toggle {
        display: none;
    }

    .nav-list {
        display: flex;
        column-gap: 2rem;
    }

    .nav-menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .home-container {
        row-gap: 5rem;
    }

    .home-content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home-blob {
        width: 270px; /*270px*/
    }

    .home-scroll {
        display: block;
    }

    .home-scroll-button {
        margin-left: 3rem;
    }

    .about-container {
        column-gap: 5rem;
    }

    .about-img {
        width: 350px;
    }

    .about-description {
        text-align: initial;
    }

    .about-info {
        justify-content: space-between;
    }

    .about-buttons {
        justify-content: initial;
    }
    .services-container {
        grid-template-columns: repeat(3 , 218px);
        justify-content: center;
    }

    .services-icon {
        font-size: 2rem;
    }

    .services-content {
        padding: 6rem 0 2rem 2.5rem;
    }

    .services-model-content {
        width: 450px;
    }

    .about-container, .contact-container {
        grid-template-columns: repeat(2 , 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(3 , 1fr);
    }

    .footer-bg {
        padding: 3rem 0 3.5rem;
    }

    .footer-links {
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer-socials {
        justify-self: flex-end;
    }

    .footer-copy {
        margin-top: 4.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .header, .main, .footer-container {
        padding: 0;
    }

    .home-blob {
        width: 320px; /* 320px */
    }

    .home-social {
        transform: translateX(-6rem);
    }

    .services-container {
        grid-template-columns: repeat(3 , 238px);
    }

    .member-description {
        padding-top: 2rem;
    }
    .contact-form {
        width: 460px;
    }
}